@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  height: 100%;
  padding: 16px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/images/main-bg.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #da821a;
  color: #ffffff;
}

input {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #535353;
  background-color: #000000;
  color: #FFFFFF;
  font-size: small;
}

textarea {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #535353;
  background-color: #000000;
  color: #FFFFFF;
  font-size: small;
}

